#navBar {
    background-color: rgba(59, 59, 58, 0.7) !important;
}

#icon-social {
    width: 20px;
    padding-right: 0px;
}

.nav-link {
    color: rgba(252, 252, 252, 0.8) !important;
}

.nav-link:hover {
    color: white !important;
}

#separacao {
    margin-top: -2px !important;
}